/*Config gerais*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

:root {
  --font-opensans: "Open Sans", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --color-starbucks: #117050;
}

body {
  font-family: var(--font-opensans);
  margin: 0;
  padding: 0;
}

.interface {
  max-width: 1140px;
  margin: auto;
}

.bar {
  background-color: var(--color-starbucks);
  height: 25px;
  width: 170px;
}

h1 {
  font-family: var(--font-oswald), Arial;
  font-size: 90px;
  font-weight: bold;

  line-height: 95px;
  max-width: 600px;
  margin: 0;
  margin-bottom: 40px;
}

h2 {
  font-family: var(--font-oswald), Arial;
  font-size: 35px;
  font-weight: bold;
  color: #111111;

  line-height: 45px;
  max-width: 400px;
  margin: 0;
  margin-top: 15px;
}

.cited {
  font-weight: 100;
  font-style: italic;
  font-size: 15px;
  margin: 25px 0px;
}

.btn-learn {
  display: inline-block;
  border: 2px solid #454545;
  padding: 10px 25px;
  color: #454545;
  text-decoration: none;
  margin-top: 15px;
  border-radius: 3px;
  transition: 0.1s all;
}

.btn-learn:hover {
  background-color: #454545;
  color: white;
}
/*Config header*/
header .line {
  background-color: var(--color-starbucks);
  height: 10px;
}

.header--area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header--left img {
  width: 64px;
}

.header--right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header--search form {
  display: flex;
}

.header--search input {
  font-size: 16px;
  font-weight: 100;
  padding: 5px 15px;
  border: 1px solid #999;
  outline: 0;
  width: 100%;
  max-width: 250px;
}

.header--search input::placeholder {
  font-weight: normal;
}

.header--search button {
  border: 0;
  background-color: transparent;
  margin-left: -30px;
  cursor: pointer;
}

.header--search button img {
  width: 16px;
}

.header--right nav img {
  width: 24px;
  margin-left: 40px;
  cursor: pointer;
}

/*SECTION BANNER - MAIN*/

.banner {
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
}

.banner .txt--happyhour h1 span {
  position: absolute;
  font-size: 40px;
  font-weight: 400;
}

.banner .banner-imgs img {
  width: 150px;
  border-radius: 50%;
  border: 5px solid var(--color-starbucks);
  margin-top: 40px;
  margin-right: 40px;
}

/*SECTION AREA 1 - MAIN*/

.area1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area1--content {
  padding: 80px;
}

.area1--img1 {
  background-color: green;
  background-image: url(../img/f2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
}

.area1--img2 {
  background-color: blue;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-image: url(../img/f1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*SECTION AREA 2 - MAIN*/

.area2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area2--content {
  padding: 80px;
}

.area2--img1 {
  background-color: green;
  background-image: url(../img/f4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 420px;
}

.area2--img2 {
  background-color: blue;
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  background-image: url(../img/f3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*SECTION AREA 3 - MAIN*/

.area3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

.area3--content {
  padding: 200px 80px;
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.area3--img1 {
  background-image: url(../img/f5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*SECTION AREA 4 - MAIN*/

.area4 {
  display: grid;
  grid-template-columns: 450px 1fr;
  background-color: #e8e9ee;
}

.area4--content {
  padding: 150px 80px;
}

.area4--text {
  margin-bottom: 50px;
  line-height: 25px;
}
.area4--img1 {
  background-image: url(../img/bg3.jpg);
  background-position: center;
}

/*ULTIMA SECTION DO SITE - AREA 5 - MAIN*/

.area5 {
  background-image: url(../img/loja-starbucks.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
}

/*Footer*/

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
