/*Config gerais*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

:root {
  --font-opensans: "Open Sans", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --color-starbucks: #117050;
}

body {
  font-family: var(--font-opensans);
  margin: 0;
  padding: 0;
}

.interface {
  max-width: 1140px;
  margin: auto;
}

/*Config header*/
header .line {
  background-color: var(--color-starbucks);
  height: 10px;
}

.header--area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header--left img {
  width: 64px;
}

.header--right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header--search form {
  display: flex;
}

.header--search input {
  font-size: 16px;
  font-weight: 100;
  padding: 5px 15px;
  border: 1px solid #999;
  outline: 0;
  width: 100%;
  max-width: 250px;
}

.header--search input::placeholder {
  font-weight: normal;
}

.header--search button {
  border: 0;
  background-color: transparent;
  margin-left: -30px;
  cursor: pointer;
}

.header--search button img {
  width: 16px;
}

.header--right nav img {
  width: 24px;
  margin-left: 40px;
  cursor: pointer;
}

/*SECTION BANNER - MAIN*/

.banner {
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
}

.banner .txt--happyhour h1 span {
  position: absolute;
  font-size: 40px;
  font-weight: 400;
}
.banner .txt--happyhour h1 {
  line-height: 95px;
  max-width: 600px;
  font-size: 90px;
  font-weight: bold;
  font-family: var(--font-oswald), Arial;
  margin: 0;
  margin-bottom: 40px;
}

.banner .banner-imgs img {
  width: 150px;
  border-radius: 50%;
  border: 5px solid var(--color-starbucks);
  margin-top: 40px;
  margin-right: 40px;
}
